@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap');

body{
    max-width: 767px;
    font-family: 'Roboto', sans-serif;
    margin: 95px 0px;
}

.telaChatMensagens{
    background-color: #E5E5E5;
}

.menu, .mensagem {
    background-color:#FFFFFF;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 20px;
    position: fixed;
}

.menu{
    top: 0;
    left: 0;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
}

.menu>ion-icon {
    font-size: 45px;
}

.menu>img{
    width: 75px;
    height: 53px;
}

.mensagem {
    bottom: 0;
    left: 0;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
}

.mensagem>ion-icon{
    margin-top: 5px;
    font-size: 30px;
}

.mensagem>input{
    border: none;
    width: 90%;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
}

.mensagem>input::placeholder{
    color: #000000;
}

.mensagem>input:focus{
    outline:none;
    font-style: normal;
}

p {
    padding: 10px;
    background-color: #FFFFFF;
    margin-bottom: 5px;
    line-height: 20px;
    font-size: 14px;
    word-wrap: break-word;
    word-break: break-word;
}

.private-message {
    background-color: #FFDEDE;
}

.status {
    background-color: #DCDCDC;
}

strong {
    font-weight: 700;
}

time{
    color: #AAAAAA;
}


 .tela-de-entrada, .entrando {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }

 .logo2{
    width: 130px;
    height: 92px;
 }
.loading {
    width: 350px;
}
 .tela-de-entrada>input{
    margin-top: 105px;
    margin-bottom: 15px;
    width: 261px;
    height: 54px;
    border-radius: 4px;
    text-align: center;
    border: solid 1px #D7D7D7;
    font-size: 18px;
    font-family: Roboto;
 }

 .tela-de-entrada>input::placeholder{
    color: #AEAEAE;
 }

 .tela-de-entrada>button{
    width: 109px;
    height: 45px;
    border-radius: 9px;
    border: none;
    background-color: #E7E7E7;
    font-size: 18px;
    color:#696969;
    font-family: Roboto;
 }

.nome-usuario:focus{
    outline: none;
 }

.icon-enviar:hover {
    color: #AEAEAE;
}

.entrando>p {
    font-family: Roboto;
    font-size: 22px;
    color: #000000;
    font-weight: 500;
    margin-top: -80px;
 }

.escondida {
    display: none;
}